html {
    background-color: #0D1117;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.grid1 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    max-width: 90%;
    padding: 10px;
    margin: auto;
    column-gap: 5%;
    row-gap: 2%;
}

.grid1 div {
    border-style: solid solid solid solid;
    border-width: 1px;
    border-color: #000;
    text-align: center;
}

.grid1 div h2 {
    font-size: 20px;
    color: #58A6FF;
}

.grid1 div p {
    font-size: 14px;
    color: #8B949E;
}

.grid1 div a {
    font-size: 14px;
    color: #8B949E;
    text-decoration: none;
}

.grid2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 90%;
    padding: 10px;
    margin: auto;
    grid-gap: 15%;
    align-items: center;
    column-gap: 0%;
    row-gap: 52%;
}

.grid2 input {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid solid solid solid;
    border-width: 1px;
    border-color: #30363d;
    color: #8B949E;
    background-color: #0D1117;
    text-align: center;
}

.grid2 select {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid solid solid solid;
    border-width: 1px;
    border-color: #30363d;
    color: #8B949E;
    background-color: #0D1117;
    text-align: center;
}

.grid2 div h2 {
    font-size: 2em;
    color: #58A6FF;
}

.grid2 div p {
    font-size: 1.5em;
    color: #8B949E;
}

.grid2 div a {
    font-size: 1.5em;
    color: #8B949E;
    text-decoration: none;
}

.item-center {
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30%;
    column-gap: 10px;
    row-gap: 15px;
}